@use "../styles/theme.scss";

:local(.people-sidebar) {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: theme.$white;
}

:local(.person) {
  font-size: theme.$font-size-sm;
  position: relative;
  & > * {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

:local(.device-icon) {
  *[stroke=\#000] {
    stroke: theme.$white;
  }

  *[fill=\#000] {
    fill: theme.$white;
  }
}

:local(.voice-icon) {
  *[stroke=\#000] {
    stroke: theme.$white;
  }

  *[fill=\#000] {
    fill: theme.$white;
  }
}

:local(.moderator-icon) {
  color: theme.$accent1-color;
}

:local(.presence) {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
