@use "../styles/theme.scss";

:local(.room-sidebar) {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: theme.$white;
}

:local(.section-title) {
  font-size: theme.$font-size-sm;
  font-weight: theme.$font-weight-bold;
  margin-bottom: 16px;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

:local(.scene-screenshot-container) {
  position: relative;
  width: 100%;
  border-radius: 12px;
}

:local(.scene-screenshot-image) {
  background-color: theme.$tile-bg-color;
  border-radius: 12px;
}

:local(.scene-info) {
  margin-bottom: 16px;
}

:local(.scene-creator) {
  margin-top: 4px;
  font-size: theme.$font-size-sm;
}

:local(.attribution) {
  font-size: theme.$font-size-sm;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

:local(.attribution-name) {
  font-weight: theme.$font-weight-bold;
}

:local(.attribution-author) {
  margin-top: 4px;
}

:local(.link) {
  color: #1EA092;

  &:hover {
    color: #1EA092;
    filter: brightness(1.1);
    transition: filter .2s ease-out;
  }
}