@use "../styles/theme.scss";

:local(.tip) {
  pointer-events: all;
  min-height: 48px;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  border: 1px solid theme.$border1-color;
  border-radius: 16px;
  display: flex;
  color: theme.$white;
  align-items: center;

  @media (min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    bottom: 24px;
    max-width: 360px;
  }
}

:local(.content) {
  margin: 16px;
  font-size: theme.$font-size-md;
  font-weight: theme.$font-weight-bold;
  padding: 0 8px;
  line-height: 1.25;
}

:local(.dismiss-button) {
  background-color: #e15f6d;
  height: 32px;
  border-radius: 3.75rem;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 8px;
  margin-bottom: 8px;
  min-width: 48px;
  font-size: theme.$font-size-md;
  font-weight: theme.$font-weight-bold;
  align-self: flex-end;

  &:hover {
    background-color: #e15f6d;
    color: theme.$white;
    filter: brightness(1.2);
    transition: filter .2s ease-out;
  }
}

:local(.toast) {
  animation: vanish 5s;
  animation-fill-mode: forwards;
  @keyframes vanish {
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}
