@use "../styles/theme.scss";

footer {
  display: block;
  background-color: #0F1935;
  border-top: 1px solid var(--border1-color);
  font-size: theme.$font-size-md;
  padding: 20px;

  @media(min-width: theme.$breakpoint-lg) {
    padding: 0;
    display: flex;
  }

  nav {
    display: flex;

    @media(min-width: theme.$breakpoint-lg) {
      flex: 1;
      justify-content: flex-end;
    }


    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      align-items: center;
      flex-direction: column;

      @media(min-width: theme.$breakpoint-lg) {
        flex-direction: row;
      }
    }

    a {
      font-weight: bold;
      color: theme.$white;

      &:hover {
        color: #e15f6d;
      }
    
      &:active {
        color: #e15f6d;
        filter: brightness(1.2);
        transition: filter .2s ease-out;
      }
    }

    li {
      display: flex;
      padding-top: 20px;
      align-items: center;

      @media(min-width: theme.$breakpoint-lg) {
        padding-top: 0;
        margin-right: 20px;
      }
    }
  }
}

:local(.container) {
  flex-direction: column;
  align-items: center;

  @media(min-width: theme.$breakpoint-lg) {
    height: 80px;
    flex-direction: row;
    align-items: inherit;
  }
}

:local(.powered-by) {
  text-align: center;
  color: theme.$white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media(min-width: theme.$breakpoint-lg) {
    margin-right: 20px;
  }
}

:local(.powered-by-link) {
  margin-top: 5px;
  color: #1EA092;

  &:hover {
    color: #1EA092;
    filter: brightness(1.1);
    transition: filter .2s ease-out;
  }
}

:local(.company-logo) {
  height: 49px;
  
  @media(min-width: theme.$breakpoint-lg) {
    margin-left: 18px;
    height: 41px;
  }
}

:local(.company-logo-background-color-white) {
  background-color: rgb(255, 255, 255);
}

:local(.discord-logo) {
  height: 24px;
  width: 24px;
  display: inline;
  margin-right: 4px;
}
